* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: black;
  padding: 1rem;
}

nav ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: flex-start; /* Aligns elements to the left */
}

nav ul li:first-child {
  margin-right: auto; /* Pushes remaining elements to the right */
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: block;
}

nav ul li a:hover {
  background-color: orangered;
  border-radius: 5px;
}

body {
  background-color: pink; 
}

.banner {
  display: flex; /* Ensure the banner uses flexbox */
  align-items: center ; /* Center align items vertically */
  padding: 20px; /* Add some padding */
  background-color: grey;
}

.sideheading {
  flex: 1; /* Take up one part of the available space */
  margin-right: 20px; /* Space between text and image */
}

.banner1 {
  flex: 1; /* Take up one part of the available space */
}

.banner1 img {
  max-width: 100%;
  height: auto;
}
